.donation_parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.donation_parent h1 {
  font-size: 2rem;
  text-align: center;
}

.donation_parent p {
  font-size: 1.2rem;
  text-align: center;
}

.donation_div3 {
  justify-content: center;
  border: green;
}

.donation_div3:hover {
  cursor: pointer;
}
